html {
    scroll-behavior: smooth;
  }
.sectionHead{
    align-items: center;
}

.contentHead{
    display: flex;
    margin: auto;
    height: 80vh;
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}



.video{
    height: fit-content;
}

.centerContent{
    align-items: center;
    text-align: center;
  

}

.btn{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    background-color: #38FF88;
    color: black;
    border: 2px solid #38FF88;
    transition: 0.3s;
}

.rsiDesc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: #202124;
    color: white;
}
.rsiDescContent{
    display:flex;
}

.left {
    width: 50%;
    padding: 10px;
    text-align: center;
}

.left img{
    width: 70%;
    height: 100%;
}

.left a{
    color: white;
    text-decoration: none;
}

.left a:hover{
    color: #38FF88;
    text-decoration: none;
    
}

.right{
    width: 50%;
    padding: 10px;
    text-align: center;
}

.solveContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: #bdbfc4;
    color: black;
}

.solveContent .right h1{

    padding: 1em;
    text-align: center;
}

.endSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: #202124;
    color: white;
    padding: 1em;
}

.endSection p{
    padding: 1em;
    text-align: center;
}

.mobile {
    display: none;
}

@media (max-width: 768px) {
    .rsiDescContent{
        flex-direction: column;
    }
    .solveContent{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .endSection button{
        display: none;
    }

    .mobile{
        display: block;
        color: red;
    }
}