.calorie-result{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 1px 13px 11px 2px rgba(196, 196, 196, 0.75);
    -webkit-box-shadow: 1px 13px 11px 2px rgba(196, 196, 196, 0.75);
    -moz-box-shadow: 1px 13px 11px 2px rgba(196, 196, 196, 0.75);
}

.calorie-result h1{
    margin-bottom: 20px;
}
